<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Курсы</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css">
</head>
<body>
<#include "./header/navigation.ftlh">

<h2>Разделы</h2>
<table>
    <tr>
        <th>Название</th>
        <th>Начало работы</th>
        <th>Окончание работы</th>
        <th>Действие</th>

    </tr>
    <#list departments as department>
        <tr>
            <td>${department.title}</td>
            <td>${department.start}</td>
            <td>${department.finish}</td>

            <td>
                <a href="/departments/${department.id}">Перейти</a>
                <#if role == 'ADMIN'>
                <a href="/departments/${department.id}/delete">Удалить</a>
            </td></#if>
        </tr>
    </#list>
</table>
<#if role == 'ADMIN'>
<form action="/departments" method="post">

    <h3>Добавление</h3>
    <label>
        Добавление нового раздела
        <input type="text" name="title" value="Введите новый раздел">
    </label>
    <br>
    <label>
        Начало
        <input type="time" name="start" value="00:00">
    </label>
    <br>
    <label>
        Конец
        <input type="time" name="finish" value="00:00">
    </label>
    <label>
        Описание
        <input type="text" name="description" value="Введите описание">
    </label>
    <br>
    <input autofocus type="submit" value="Добавить"/>
</form>
</#if>

</body>
</html>